<section>
    <nav class="system-tabs tabs" data-group="system-main">
        <a data-tab="races">Races</a>
        <a data-tab="classes">Classes</a>
        <a data-tab="abilities">Abilities</a>
        <a data-tab="spells">Spells</a>
    </nav>
    <h1></h1>
    <section class="system-body">
        <div class="tab races" data-group="system-main" data-tab="races">
            <div class="center"><a class="create-race" data-path="new_race">Add New Race</a></div>
            <table>
                <tr>
                    <th class="center">Add</th>
                    <th class="center">Race/Bloodline</th>
                    <th class="center">Edit</th>
                    <th class="center">Delete</th>
                </tr>
            {{#each template.races as |race|}}
                {{#ifCond (eq race.playable true) '&&' (eq race.bloodline 'None')}}
                    {{> "systems/dc/templates/table-rows/race-editor-tr.hbs" race=race}}
                    {{#each ../template.races as |variant|}}
                        {{#if (eq @../key variant.bloodline)}}
                            {{> "systems/dc/templates/table-rows/race-editor-tr.hbs" race=variant}}
                        {{/if}}
                    {{/each}}
                {{/ifCond}}
            {{/each}}
            {{#each template.races as |race|}}
                {{#if (eq race.playable false)}}
                    {{> "systems/dc/templates/table-rows/race-editor-tr.hbs" race=race}}
                {{/if}}
            {{/each}}
            </table>
        </div>
    </section>
</section>