<section>
    <nav class="system-tabs tabs" data-group="system-main">
        <a data-tab="entity">Entity</a>
        <a data-tab="races">Races</a>
        <a data-tab="classes">Classes</a>
        <a data-tab="abilities">Abilities</a>
        <a data-tab="spells">Spells</a>
    </nav>
    <h1></h1>
    <section class="system-body">
        <div class="tab entity" data-group="system-main" data-tab="entity">
            {{> "systems/dc/templates/tabs/gm/entity-tab.hbs"}}
        </div>
        <div class="tab race" data-group="system-main" data-tab="races">
            {{> "systems/dc/templates/tabs/gm/race-tab.hbs"}}
        </div>
        <div class="tab classes" data-group="system-main" data-tab="classes">
            {{> "systems/dc/templates/tabs/gm/class-tab.hbs"}}
        </div>
        <div class="tab abilities" data-group="system-main" data-tab="abilities">
            {{> "systems/dc/templates/tabs/gm/abilities-tab.hbs"}}
        </div>
    </section>
</section>