<section>
    <div class="flexrow">
        <div>
            <img class="center" name="img" src="{{actor.img}}" data-edit="img"/>
            <input class="center" type="text" name="name" value="{{actor.name}}" data-edit="name"/>
        </div>
        <div>
            {{> "systems/dc/templates/shared/stat-block.hbs" stats=../stats race=@../key}}
        </div>
    </div>
</section>