<section>
    <nav class="system-tabs tabs" data-group="system-main">
        <a data-tab="races">Races</a>
        <a data-tab="classes">Classes</a>
        <a data-tab="abilities">Abilities</a>
        <a data-tab="spells">Spells</a>
    </nav>
    <h1></h1>
    <section class="system-body">
        <div class="tab races" data-group="system-main" data-tab="races">
            <a class="race-create">Add New Race</a>
            <table>
                <tr>
                    <th class="center">Race/Bloodline</th>
                    <th class="center">Add</th>
                    <th class="center">Edit</th>
                    <th class="center">Delete</th>
                </tr>
            {{#each template.races as |race|}}
                {{#if (eq race.playable true)}}
                    {{> "systems/dc/templates/table-rows/race-editor-tr.hbs" race=race}}
                {{/if}}
            {{/each}}
            {{#each template.races as |race|}}
                {{#if (eq race.playable false)}}
                    {{> "systems/dc/templates/table-rows/race-editor-tr.hbs" race=race}}
                {{/if}}
            {{/each}}
            </table>
        </div>
    </section>
</section>