<form>
    {{> 'systems/dc/templates/editor/shared/editor-data.hbs' root_path="" data_format=data_format this}}
    <h2>Modifiers</h2>
    <div class="center flexrow">
        <select class="modifier-select">
            {{#each mod_templates as |mod|}}
                {{#if (eq ../mod_index @index)}}
                    <option value="@index" selected>{{pretty_print mod.label}}</option>
                {{else}}
                    <option value="@index">{{pretty_print mod.label}}</option>
                {{/if}}
            {{/each}}
        </select>
        <a class="add-modifier">Add modifier</a>
    </div>
    {{> 'systems/dc/templates/editor/shared/editor-data.hbs' root_path="" data_format=mod_template this}}
</form>