<form>
    {{log this}}
    <h1 class="center">Edit Race</h1>
    <div class="flexrow">
        <!-- Editor Side -->
        <div>
            <table>
                <tr>
                    <td class="perc30 center">Name</td>
                    <td><input class="text-change" type="text" data-path="label" value="{{race.label}}"/></td>
                </tr>
                <tr>
                    <td class="perc30 center">Description</td>
                    <td><input class="text-change" type="text" data-path="descriptions.main[0]" value="{{descriptions.main.0}}"/></td>
                <tr>
                    <td></td>
                    {{#each race.descriptions.main as |str|}}
                        {{#if (gt @index 0)}}
                    <td><input class="text-change" type="text" data-path="descriptions-main-{{@index}}" value="{{str}}"/></td>
                        {{/if}}
                    {{/each}}
                </tr>
                <tr>
                    <td class="center">Playable</td>
                    {{#if (eq race.playable true)}}
                    <td class="center"><a class="toggle-value" data-key="playable"><i class="fas fa-check"></i></a></td>
                    {{else}}
                    <td class="center"><a class="toggle-value" data-key="playable"><i class="fas fa-times"></i></a></td>
                    {{/if}}
                </tr>
            </table>
        </div>
        <!-- Preview Side -->
        <div>
            {{> "systems/dc/templates/shared/race-display.hbs" stats=stats race=race}}
        </div>
    </div>
</form>