<form>
    {{log this}}
    <h1 class="center">Edit Race</h1>
    <div class="flexrow">
        <!-- Editor Side -->
        <div>
            <h2 class="center">Core</h2>
            <table>
                <tr>
                    <td class="perc30 center">Name</td>
                    <td><input class="text-change" type="text" data-id="label" value="{{race.label}}"/></td>
                </tr>
                <tr>
                    <td class="perc30 center">Description</td>
                {{#each race.descriptions.main as |str|}}
                    {{#if (eq @index 0)}}
                            <td><input class="text-change" type="text" data-id="descriptions-main-0" data-path="descriptions" data-subpath="main" data-index="0" value="{{str}}"/></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td></td>
                            <td><input class="text-change" type="text" data-id="descriptions-main-{{@index}}" data-path="descriptions" data-subpath="main" data-index="{{@index}}" value="{{str}}"/></td>
                        </tr>
                    {{/if}}
                {{/each}}
                <tr>
                    <td class="center">Playable</td>
                    {{#if (eq race.playable true)}}
                    <td class="center"><a class="toggle-value" data-key="playable"><i class="fas fa-check"></i></a></td>
                    {{else}}
                    <td class="center"><a class="toggle-value" data-key="playable"><i class="fas fa-times"></i></a></td>
                    {{/if}}
                </tr>
            </table>
            <h2 class="center">Stat Bonuses</h2>
            <table>
                {{#each stats as |stat|}}
                    <tr>
                        <td class="perc30 center">{{stat.label}}</td>
                        <td><input class="stat-modifier" type="number" data-key="{{stat.key}}" value="{{lookup ../race.stat_bonuses stat.key}}"/></td>
                    </tr>
                {{/each}}
            </table>
            <h2 class="center">Abilities</h2>
        </div>
        <!-- Preview Side -->
        <div>
            {{> "systems/dc/templates/shared/race-display.hbs" stats=stats race=race}}
        </div>
    </div>
</form>