<form>
    <h2 class="center">GM Screen</h2>
    <nav class="gm-tabs tabs" data-group="GM">
        <a data-tab="system">System</a>
        <a data-tab="notes">Notes</a>
    </nav>
    <h2></h2>
    <section class="gm-body">
        <div class="tab system" data-group="GM" data-tab="system">

            <h2 class="center">System Editor</h2>
            {{> "systems/dc/templates/tabs/gm/system-editor.hbs" this}}
            
        </div>
        <div class="tab notes" data-group="GM" data-tab="notes">

            <h2 class="center">Notes</h2>
            <textarea class="textbox" name="data.notes" id="notes" cols="30" rows="30">{{data.data.notes}}</textarea>

        </div>
    </section>
</form>