<form>
    <h1 class="center">{{actor.name}}</h1>
    <!-- Show race select page for new characters -->
    {{#if (eq data.data.race 'None')}}
        {{> "systems/dc/templates/tabs/race_select.hbs" stats=stats}}
    {{else}}
    <!-- Show class select for new characters -->
        {{#if (eq data.data.class 'None')}}

        {{else}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a data-tab="core">Core</a>
        <a data-tab="notes">Notes</a>
    </nav>
    <section class="sheet-body scroller trait_scroller border">
        <div class="tab core" data-group="primary" data-tab="core">
            {{> "systems/dc/templates/tabs/core.hbs"}}
        </div>
        <div class="tab notes" data-group="primary" data-tab="notes">
            <textarea class="textbox" name="data.notes" id="notes" cols="30" rows="30">{{data.data.notes}}</textarea>
        </div>
    </section>
        {{/if}}
    {{/if}}
</form>