<section>
    <h2 class="center">{{race.label}}</h2>
    {{#each race.descriptions.main as |line|}}
        <p class="center">{{line}}</p>
    {{/each}}
    <h2 class="center">Stats</h2>
    {{> "systems/dc/templates/shared/stat-block.hbs" stats=../stats race=race}}
</section>