{{!-- 
    @param: {DICT} stats : The stats for the loaded system
    @param: {DICT} race  : The data object for the race to be displayed.
    @param: {STR}  key   : The key for the current stat.
 --}}
<section>
    <div>
        <h2 class="center">{{race.label}}</h2>
    {{#each race.descriptions.main as |line|}}
        <p class="center">{{line}}</p>
    {{/each}}
        <h2 class="center">Stats</h2>
    {{> "systems/dc/templates/shared/stat-block.hbs" stats=stats race=race key=key}}
    </div>
</section>