<section>
    <table>
    {{#each stats as |stat|}}
        <tr>
            <th class="center">{{stat.label}}</th>
            <td class="center">{{get_pips stat.key key stat.value stat.max}}</td>
        </tr>
    {{/each}}
    </table>
</section>